  .circle-dot {
  border-radius: 50%;
  position: absolute;
  background: red;
}

.circle-hero{
  border-radius: 50%;
  position: absolute;
  background: transparent;
  border-width: 0.1em;
  border-style: solid;
  border-color: red;
  width: 900px;
  height: 900px;
  transform: translateY(100px) translateX(905px);
  pointer-events: none;
}

.dot-hero{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  background: red;
  z-index: 10;
}

.circle-dot:nth-child(1) {
  background: transparent;
  border-width: 0.01em;
  margin: 2px;
  border-style: solid;
  border-color: red;
  width: 600px;
  height: 600px;
  transform: translateX(25px);
}

.circle-dot:nth-child(2) {
  border-width: 3px solid red;
  width: 30px;
  height: 30px;
  transform: translateX(15px);
}

.circle-dot:nth-child(3) {
  background: transparent;
  border-width: 0.01em;
  margin: 2px;
  border-style: solid;
  border-color: red;
  width: 200px;
  height: 200px;
  transform: translateX(25px);
}

.circle-dot:nth-child(4) {
  border-width: 3px solid red;
  width: 30px;
  height: 30px;
  transform: translateX(210px);
}

.circle-dot:nth-child(5) {
  background: transparent;
  border-width: 0.01em;
  margin: 2px;
  border-style: solid;
  border-color: red;
  width: 400px;
  height: 400px;
  transform: translateX(25px);
}

.circle-dot:nth-child(6) {
  background: transparent;
  border-width: 0.01em;
  margin: 2px;
  border-style: solid;
  border-color: red;
  width: 200px;
  height: 200px;
  transform: translateX(425px);
}

.circle-dot:nth-child(7) {
  border-width: 3px solid red;
  width: 30px;
  height: 30px;
  transform: translateX(410px);
}

.circle-dot:nth-child(8) {
  border-width: 3px solid red;
  width: 30px;
  height: 30px;
  transform: translateX(610px);
}

.circle-dot:nth-child(9) {
  background: transparent;
  border-width: 0.01em;
  margin: 2px;
  border-style: solid;
  border-color: red;
  width: 1000px;
  height: 1200px;
  transform: translateX(-375px);
}

.circle-dot:nth-child(10) {
  background: transparent;
  border-width: 0.01em;
  margin: 2px;
  border-style: solid;
  border-color: red;
  width: 1200px;
  height: 1200px;
  transform: translateX(625px);
}

.circle-dot:nth-child(11) {
  background: transparent;
  border-width: 0.01em;
  margin: 2px;
  border-style: solid;
  border-color: red;
  width: 600px;
  height: 600px;
  transform: translateX(625px);
}
