.hero-wrapper
  .hero-section-image
    .hero-image
      .hero-section-overlay
      img(src=require("../assets/header-bg.png"), alt="background")
    .top-wrapper
      .hero-quote-section
        .quote-mark.opening
          svg(viewBox="0 0 512 512")
            path(d="M -0.5,284.5 C -0.5,216.5 -0.5,148.5 -0.5,80.5C 1.31481,76.5212 4.31481,73.6878 8.5,72C 76.5,71.3333 144.5,71.3333 212.5,72C 216.974,73.8077 220.141,76.9743 222,81.5C 222.667,149.167 222.667,216.833 222,284.5C 205.728,333.982 189.062,383.315 172,432.5C 169.512,436.325 166.012,438.492 161.5,439C 143.5,439.667 125.5,439.667 107.5,439C 101.764,437.598 97.9306,434.098 96,428.5C 95.5,383.835 95.3333,339.168 95.5,294.5C 66.8314,294.667 38.1647,294.5 9.5,294C 4.9552,291.952 1.62186,288.785 -0.5,284.5 Z")
            path(d="M 511.5,80.5 C 511.5,148.833 511.5,217.167 511.5,285.5C 495.069,333.291 478.903,381.291 463,429.5C 460.993,434.838 457.159,438.004 451.5,439C 433.167,439.667 414.833,439.667 396.5,439C 391.815,437.65 388.315,434.817 386,430.5C 384.515,385.227 384.015,339.893 384.5,294.5C 355.831,294.667 327.165,294.5 298.5,294C 294,292.167 290.833,289 289,284.5C 288.333,216.833 288.333,149.167 289,81.5C 290.859,76.9743 294.026,73.8077 298.5,72C 366.5,71.3333 434.5,71.3333 502.5,72C 506.685,73.6878 509.685,76.5212 511.5,80.5 Z")
        .quote-text
           | The future belongs to those who believe in the beauty of their ideas. At NovaSphere, we're not just building tools—we're shaping visions into impactful realities that touch millions.
        .quote-mark.closing
          svg(viewBox="0 0 512 512")
            path(d="M -0.5,284.5 C -0.5,216.5 -0.5,148.5 -0.5,80.5C 1.31481,76.5212 4.31481,73.6878 8.5,72C 76.5,71.3333 144.5,71.3333 212.5,72C 216.974,73.8077 220.141,76.9743 222,81.5C 222.667,149.167 222.667,216.833 222,284.5C 205.728,333.982 189.062,383.315 172,432.5C 169.512,436.325 166.012,438.492 161.5,439C 143.5,439.667 125.5,439.667 107.5,439C 101.764,437.598 97.9306,434.098 96,428.5C 95.5,383.835 95.3333,339.168 95.5,294.5C 66.8314,294.667 38.1647,294.5 9.5,294C 4.9552,291.952 1.62186,288.785 -0.5,284.5 Z")
            path(d="M 511.5,80.5 C 511.5,148.833 511.5,217.167 511.5,285.5C 495.069,333.291 478.903,381.291 463,429.5C 460.993,434.838 457.159,438.004 451.5,439C 433.167,439.667 414.833,439.667 396.5,439C 391.815,437.65 388.315,434.817 386,430.5C 384.515,385.227 384.015,339.893 384.5,294.5C 355.831,294.667 327.165,294.5 298.5,294C 294,292.167 290.833,289 289,284.5C 288.333,216.833 288.333,149.167 289,81.5C 290.859,76.9743 294.026,73.8077 298.5,72C 366.5,71.3333 434.5,71.3333 502.5,72C 506.685,73.6878 509.685,76.5212 511.5,80.5 Z")

    .bottom-wrapper 
      .executives
        .executive
          .name Aria Tanaka
          .title Chief Innovation Strategist
        .executive
          .name Leo Vescari
          .title Executive Director of Futures
        
      a(href="/#/cards/card1").btn.relative Read More

  
  .hero-block-circle
  .circle-space
    .circle-hero
    .dot-scroll
      .dot-hero  
      div(style="height:1000px")
      
    





