.card2-wrapper.light
  .content
    a(href="#/hero").btn Back to Dashboard
    .quote
      h2.quote-title.title-red Leadership Message
      p.quote-body.body-black
        | "Innovation is not just a goal—it’s our culture. We align purpose with progress, creating pathways where creativity fuels sustainable success for every stakeholder involved. Empowering individuals begins with redefining what leadership looks like."

    ul.selector.red
      li(class=activeCard === 'card1' ? 'active' : '')
        a(href="#/cards/card1") Leadership Message
      li(class=activeCard === 'card2' ? 'active' : '')
        a(href="#/cards/card2") Vision & Strategy

  .block 
    .card-block
      .circle-dot
      .circle-dot
      .circle-dot
      .circle-dot
      .circle-dot
      .circle-dot
      .circle-dot
      .circle-dot
      .circle-dot
      .circle-dot 
      .circle-dot
