doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Prototype Pug
    //- Webpack will inject CSS links here
  body
    #app
      //- Client-side JavaScript will render content here
    //- Webpack will inject JavaScript bundles here